html {
    background-color: #1c1117;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    overflow: hidden;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: darkslateblue;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 64px;
    height: 64px;
    padding: 0;
    text-align: center;
    width: 64px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game-container {
    user-select: none;
    outline: none;
    position: fixed;
    width: 10000px;
}

.camera {
    display: flex;
    flex-direction: row;
    position: absolute;
    transition: 0.2s;
}

.game-info {
    margin-left: 20px;
}

.player {
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, 0);
}
