 .t_0 {
 background:url('char.png') no-repeat -0px -0px;
 width:16px;
 height:16px;
 } .t_1 {
 background:url('char.png') no-repeat -17px -0px;
 width:16px;
 height:16px;
 } .t_2 {
 background:url('char.png') no-repeat -34px -0px;
 width:16px;
 height:16px;
 } .t_3 {
 background:url('char.png') no-repeat -51px -0px;
 width:16px;
 height:16px;
 } .t_4 {
 background:url('char.png') no-repeat -68px -0px;
 width:16px;
 height:16px;
 } .t_5 {
 background:url('char.png') no-repeat -85px -0px;
 width:16px;
 height:16px;
 } .t_6 {
 background:url('char.png') no-repeat -102px -0px;
 width:16px;
 height:16px;
 } .t_7 {
 background:url('char.png') no-repeat -119px -0px;
 width:16px;
 height:16px;
 } .t_8 {
 background:url('char.png') no-repeat -136px -0px;
 width:16px;
 height:16px;
 } .t_9 {
 background:url('char.png') no-repeat -153px -0px;
 width:16px;
 height:16px;
 } .t_10 {
 background:url('char.png') no-repeat -170px -0px;
 width:16px;
 height:16px;
 } .t_11 {
 background:url('char.png') no-repeat -187px -0px;
 width:16px;
 height:16px;
 } .t_12 {
 background:url('char.png') no-repeat -204px -0px;
 width:16px;
 height:16px;
 } .t_13 {
 background:url('char.png') no-repeat -221px -0px;
 width:16px;
 height:16px;
 } .t_14 {
 background:url('char.png') no-repeat -238px -0px;
 width:16px;
 height:16px;
 } .t_15 {
 background:url('char.png') no-repeat -255px -0px;
 width:16px;
 height:16px;
 } .t_16 {
 background:url('char.png') no-repeat -272px -0px;
 width:16px;
 height:16px;
 } .t_17 {
 background:url('char.png') no-repeat -289px -0px;
 width:16px;
 height:16px;
 } .t_18 {
 background:url('char.png') no-repeat -306px -0px;
 width:16px;
 height:16px;
 } .t_19 {
 background:url('char.png') no-repeat -323px -0px;
 width:16px;
 height:16px;
 } .t_20 {
 background:url('char.png') no-repeat -340px -0px;
 width:16px;
 height:16px;
 } .t_21 {
 background:url('char.png') no-repeat -357px -0px;
 width:16px;
 height:16px;
 } .t_22 {
 background:url('char.png') no-repeat -374px -0px;
 width:16px;
 height:16px;
 } .t_23 {
 background:url('char.png') no-repeat -391px -0px;
 width:16px;
 height:16px;
 } .t_24 {
 background:url('char.png') no-repeat -408px -0px;
 width:16px;
 height:16px;
 } .t_25 {
 background:url('char.png') no-repeat -425px -0px;
 width:16px;
 height:16px;
 } .t_26 {
 background:url('char.png') no-repeat -442px -0px;
 width:16px;
 height:16px;
 } .t_27 {
 background:url('char.png') no-repeat -459px -0px;
 width:16px;
 height:16px;
 } .t_28 {
 background:url('char.png') no-repeat -476px -0px;
 width:16px;
 height:16px;
 } .t_29 {
 background:url('char.png') no-repeat -493px -0px;
 width:16px;
 height:16px;
 } .t_30 {
 background:url('char.png') no-repeat -510px -0px;
 width:16px;
 height:16px;
 } .t_31 {
 background:url('char.png') no-repeat -527px -0px;
 width:16px;
 height:16px;
 } .t_32 {
 background:url('char.png') no-repeat -544px -0px;
 width:16px;
 height:16px;
 } .t_33 {
 background:url('char.png') no-repeat -561px -0px;
 width:16px;
 height:16px;
 } .t_34 {
 background:url('char.png') no-repeat -578px -0px;
 width:16px;
 height:16px;
 } .t_35 {
 background:url('char.png') no-repeat -595px -0px;
 width:16px;
 height:16px;
 } .t_36 {
 background:url('char.png') no-repeat -612px -0px;
 width:16px;
 height:16px;
 } .t_37 {
 background:url('char.png') no-repeat -629px -0px;
 width:16px;
 height:16px;
 } .t_38 {
 background:url('char.png') no-repeat -646px -0px;
 width:16px;
 height:16px;
 } .t_39 {
 background:url('char.png') no-repeat -663px -0px;
 width:16px;
 height:16px;
 } .t_40 {
 background:url('char.png') no-repeat -680px -0px;
 width:16px;
 height:16px;
 } .t_41 {
 background:url('char.png') no-repeat -697px -0px;
 width:16px;
 height:16px;
 } .t_42 {
 background:url('char.png') no-repeat -714px -0px;
 width:16px;
 height:16px;
 } .t_43 {
 background:url('char.png') no-repeat -731px -0px;
 width:16px;
 height:16px;
 } .t_44 {
 background:url('char.png') no-repeat -748px -0px;
 width:16px;
 height:16px;
 } .t_45 {
 background:url('char.png') no-repeat -765px -0px;
 width:16px;
 height:16px;
 } .t_46 {
 background:url('char.png') no-repeat -782px -0px;
 width:16px;
 height:16px;
 } .t_47 {
 background:url('char.png') no-repeat -799px -0px;
 width:16px;
 height:16px;
 } .t_48 {
 background:url('char.png') no-repeat -816px -0px;
 width:16px;
 height:16px;
 } .t_49 {
 background:url('char.png') no-repeat -833px -0px;
 width:16px;
 height:16px;
 } .t_50 {
 background:url('char.png') no-repeat -850px -0px;
 width:16px;
 height:16px;
 } .t_51 {
 background:url('char.png') no-repeat -867px -0px;
 width:16px;
 height:16px;
 } .t_52 {
 background:url('char.png') no-repeat -884px -0px;
 width:16px;
 height:16px;
 } .t_53 {
 background:url('char.png') no-repeat -901px -0px;
 width:16px;
 height:16px;
 } .t_54 {
 background:url('char.png') no-repeat -0px -17px;
 width:16px;
 height:16px;
 } .t_55 {
 background:url('char.png') no-repeat -17px -17px;
 width:16px;
 height:16px;
 } .t_56 {
 background:url('char.png') no-repeat -34px -17px;
 width:16px;
 height:16px;
 } .t_57 {
 background:url('char.png') no-repeat -51px -17px;
 width:16px;
 height:16px;
 } .t_58 {
 background:url('char.png') no-repeat -68px -17px;
 width:16px;
 height:16px;
 } .t_59 {
 background:url('char.png') no-repeat -85px -17px;
 width:16px;
 height:16px;
 } .t_60 {
 background:url('char.png') no-repeat -102px -17px;
 width:16px;
 height:16px;
 } .t_61 {
 background:url('char.png') no-repeat -119px -17px;
 width:16px;
 height:16px;
 } .t_62 {
 background:url('char.png') no-repeat -136px -17px;
 width:16px;
 height:16px;
 } .t_63 {
 background:url('char.png') no-repeat -153px -17px;
 width:16px;
 height:16px;
 } .t_64 {
 background:url('char.png') no-repeat -170px -17px;
 width:16px;
 height:16px;
 } .t_65 {
 background:url('char.png') no-repeat -187px -17px;
 width:16px;
 height:16px;
 } .t_66 {
 background:url('char.png') no-repeat -204px -17px;
 width:16px;
 height:16px;
 } .t_67 {
 background:url('char.png') no-repeat -221px -17px;
 width:16px;
 height:16px;
 } .t_68 {
 background:url('char.png') no-repeat -238px -17px;
 width:16px;
 height:16px;
 } .t_69 {
 background:url('char.png') no-repeat -255px -17px;
 width:16px;
 height:16px;
 } .t_70 {
 background:url('char.png') no-repeat -272px -17px;
 width:16px;
 height:16px;
 } .t_71 {
 background:url('char.png') no-repeat -289px -17px;
 width:16px;
 height:16px;
 } .t_72 {
 background:url('char.png') no-repeat -306px -17px;
 width:16px;
 height:16px;
 } .t_73 {
 background:url('char.png') no-repeat -323px -17px;
 width:16px;
 height:16px;
 } .t_74 {
 background:url('char.png') no-repeat -340px -17px;
 width:16px;
 height:16px;
 } .t_75 {
 background:url('char.png') no-repeat -357px -17px;
 width:16px;
 height:16px;
 } .t_76 {
 background:url('char.png') no-repeat -374px -17px;
 width:16px;
 height:16px;
 } .t_77 {
 background:url('char.png') no-repeat -391px -17px;
 width:16px;
 height:16px;
 } .t_78 {
 background:url('char.png') no-repeat -408px -17px;
 width:16px;
 height:16px;
 } .t_79 {
 background:url('char.png') no-repeat -425px -17px;
 width:16px;
 height:16px;
 } .t_80 {
 background:url('char.png') no-repeat -442px -17px;
 width:16px;
 height:16px;
 } .t_81 {
 background:url('char.png') no-repeat -459px -17px;
 width:16px;
 height:16px;
 } .t_82 {
 background:url('char.png') no-repeat -476px -17px;
 width:16px;
 height:16px;
 } .t_83 {
 background:url('char.png') no-repeat -493px -17px;
 width:16px;
 height:16px;
 } .t_84 {
 background:url('char.png') no-repeat -510px -17px;
 width:16px;
 height:16px;
 } .t_85 {
 background:url('char.png') no-repeat -527px -17px;
 width:16px;
 height:16px;
 } .t_86 {
 background:url('char.png') no-repeat -544px -17px;
 width:16px;
 height:16px;
 } .t_87 {
 background:url('char.png') no-repeat -561px -17px;
 width:16px;
 height:16px;
 } .t_88 {
 background:url('char.png') no-repeat -578px -17px;
 width:16px;
 height:16px;
 } .t_89 {
 background:url('char.png') no-repeat -595px -17px;
 width:16px;
 height:16px;
 } .t_90 {
 background:url('char.png') no-repeat -612px -17px;
 width:16px;
 height:16px;
 } .t_91 {
 background:url('char.png') no-repeat -629px -17px;
 width:16px;
 height:16px;
 } .t_92 {
 background:url('char.png') no-repeat -646px -17px;
 width:16px;
 height:16px;
 } .t_93 {
 background:url('char.png') no-repeat -663px -17px;
 width:16px;
 height:16px;
 } .t_94 {
 background:url('char.png') no-repeat -680px -17px;
 width:16px;
 height:16px;
 } .t_95 {
 background:url('char.png') no-repeat -697px -17px;
 width:16px;
 height:16px;
 } .t_96 {
 background:url('char.png') no-repeat -714px -17px;
 width:16px;
 height:16px;
 } .t_97 {
 background:url('char.png') no-repeat -731px -17px;
 width:16px;
 height:16px;
 } .t_98 {
 background:url('char.png') no-repeat -748px -17px;
 width:16px;
 height:16px;
 } .t_99 {
 background:url('char.png') no-repeat -765px -17px;
 width:16px;
 height:16px;
 } .t_100 {
 background:url('char.png') no-repeat -782px -17px;
 width:16px;
 height:16px;
 } .t_101 {
 background:url('char.png') no-repeat -799px -17px;
 width:16px;
 height:16px;
 } .t_102 {
 background:url('char.png') no-repeat -816px -17px;
 width:16px;
 height:16px;
 } .t_103 {
 background:url('char.png') no-repeat -833px -17px;
 width:16px;
 height:16px;
 } .t_104 {
 background:url('char.png') no-repeat -850px -17px;
 width:16px;
 height:16px;
 } .t_105 {
 background:url('char.png') no-repeat -867px -17px;
 width:16px;
 height:16px;
 } .t_106 {
 background:url('char.png') no-repeat -884px -17px;
 width:16px;
 height:16px;
 } .t_107 {
 background:url('char.png') no-repeat -901px -17px;
 width:16px;
 height:16px;
 } .t_108 {
 background:url('char.png') no-repeat -0px -34px;
 width:16px;
 height:16px;
 } .t_109 {
 background:url('char.png') no-repeat -17px -34px;
 width:16px;
 height:16px;
 } .t_110 {
 background:url('char.png') no-repeat -34px -34px;
 width:16px;
 height:16px;
 } .t_111 {
 background:url('char.png') no-repeat -51px -34px;
 width:16px;
 height:16px;
 } .t_112 {
 background:url('char.png') no-repeat -68px -34px;
 width:16px;
 height:16px;
 } .t_113 {
 background:url('char.png') no-repeat -85px -34px;
 width:16px;
 height:16px;
 } .t_114 {
 background:url('char.png') no-repeat -102px -34px;
 width:16px;
 height:16px;
 } .t_115 {
 background:url('char.png') no-repeat -119px -34px;
 width:16px;
 height:16px;
 } .t_116 {
 background:url('char.png') no-repeat -136px -34px;
 width:16px;
 height:16px;
 } .t_117 {
 background:url('char.png') no-repeat -153px -34px;
 width:16px;
 height:16px;
 } .t_118 {
 background:url('char.png') no-repeat -170px -34px;
 width:16px;
 height:16px;
 } .t_119 {
 background:url('char.png') no-repeat -187px -34px;
 width:16px;
 height:16px;
 } .t_120 {
 background:url('char.png') no-repeat -204px -34px;
 width:16px;
 height:16px;
 } .t_121 {
 background:url('char.png') no-repeat -221px -34px;
 width:16px;
 height:16px;
 } .t_122 {
 background:url('char.png') no-repeat -238px -34px;
 width:16px;
 height:16px;
 } .t_123 {
 background:url('char.png') no-repeat -255px -34px;
 width:16px;
 height:16px;
 } .t_124 {
 background:url('char.png') no-repeat -272px -34px;
 width:16px;
 height:16px;
 } .t_125 {
 background:url('char.png') no-repeat -289px -34px;
 width:16px;
 height:16px;
 } .t_126 {
 background:url('char.png') no-repeat -306px -34px;
 width:16px;
 height:16px;
 } .t_127 {
 background:url('char.png') no-repeat -323px -34px;
 width:16px;
 height:16px;
 } .t_128 {
 background:url('char.png') no-repeat -340px -34px;
 width:16px;
 height:16px;
 } .t_129 {
 background:url('char.png') no-repeat -357px -34px;
 width:16px;
 height:16px;
 } .t_130 {
 background:url('char.png') no-repeat -374px -34px;
 width:16px;
 height:16px;
 } .t_131 {
 background:url('char.png') no-repeat -391px -34px;
 width:16px;
 height:16px;
 } .t_132 {
 background:url('char.png') no-repeat -408px -34px;
 width:16px;
 height:16px;
 } .t_133 {
 background:url('char.png') no-repeat -425px -34px;
 width:16px;
 height:16px;
 } .t_134 {
 background:url('char.png') no-repeat -442px -34px;
 width:16px;
 height:16px;
 } .t_135 {
 background:url('char.png') no-repeat -459px -34px;
 width:16px;
 height:16px;
 } .t_136 {
 background:url('char.png') no-repeat -476px -34px;
 width:16px;
 height:16px;
 } .t_137 {
 background:url('char.png') no-repeat -493px -34px;
 width:16px;
 height:16px;
 } .t_138 {
 background:url('char.png') no-repeat -510px -34px;
 width:16px;
 height:16px;
 } .t_139 {
 background:url('char.png') no-repeat -527px -34px;
 width:16px;
 height:16px;
 } .t_140 {
 background:url('char.png') no-repeat -544px -34px;
 width:16px;
 height:16px;
 } .t_141 {
 background:url('char.png') no-repeat -561px -34px;
 width:16px;
 height:16px;
 } .t_142 {
 background:url('char.png') no-repeat -578px -34px;
 width:16px;
 height:16px;
 } .t_143 {
 background:url('char.png') no-repeat -595px -34px;
 width:16px;
 height:16px;
 } .t_144 {
 background:url('char.png') no-repeat -612px -34px;
 width:16px;
 height:16px;
 } .t_145 {
 background:url('char.png') no-repeat -629px -34px;
 width:16px;
 height:16px;
 } .t_146 {
 background:url('char.png') no-repeat -646px -34px;
 width:16px;
 height:16px;
 } .t_147 {
 background:url('char.png') no-repeat -663px -34px;
 width:16px;
 height:16px;
 } .t_148 {
 background:url('char.png') no-repeat -680px -34px;
 width:16px;
 height:16px;
 } .t_149 {
 background:url('char.png') no-repeat -697px -34px;
 width:16px;
 height:16px;
 } .t_150 {
 background:url('char.png') no-repeat -714px -34px;
 width:16px;
 height:16px;
 } .t_151 {
 background:url('char.png') no-repeat -731px -34px;
 width:16px;
 height:16px;
 } .t_152 {
 background:url('char.png') no-repeat -748px -34px;
 width:16px;
 height:16px;
 } .t_153 {
 background:url('char.png') no-repeat -765px -34px;
 width:16px;
 height:16px;
 } .t_154 {
 background:url('char.png') no-repeat -782px -34px;
 width:16px;
 height:16px;
 } .t_155 {
 background:url('char.png') no-repeat -799px -34px;
 width:16px;
 height:16px;
 } .t_156 {
 background:url('char.png') no-repeat -816px -34px;
 width:16px;
 height:16px;
 } .t_157 {
 background:url('char.png') no-repeat -833px -34px;
 width:16px;
 height:16px;
 } .t_158 {
 background:url('char.png') no-repeat -850px -34px;
 width:16px;
 height:16px;
 } .t_159 {
 background:url('char.png') no-repeat -867px -34px;
 width:16px;
 height:16px;
 } .t_160 {
 background:url('char.png') no-repeat -884px -34px;
 width:16px;
 height:16px;
 } .t_161 {
 background:url('char.png') no-repeat -901px -34px;
 width:16px;
 height:16px;
 } .t_162 {
 background:url('char.png') no-repeat -0px -51px;
 width:16px;
 height:16px;
 } .t_163 {
 background:url('char.png') no-repeat -17px -51px;
 width:16px;
 height:16px;
 } .t_164 {
 background:url('char.png') no-repeat -34px -51px;
 width:16px;
 height:16px;
 } .t_165 {
 background:url('char.png') no-repeat -51px -51px;
 width:16px;
 height:16px;
 } .t_166 {
 background:url('char.png') no-repeat -68px -51px;
 width:16px;
 height:16px;
 } .t_167 {
 background:url('char.png') no-repeat -85px -51px;
 width:16px;
 height:16px;
 } .t_168 {
 background:url('char.png') no-repeat -102px -51px;
 width:16px;
 height:16px;
 } .t_169 {
 background:url('char.png') no-repeat -119px -51px;
 width:16px;
 height:16px;
 } .t_170 {
 background:url('char.png') no-repeat -136px -51px;
 width:16px;
 height:16px;
 } .t_171 {
 background:url('char.png') no-repeat -153px -51px;
 width:16px;
 height:16px;
 } .t_172 {
 background:url('char.png') no-repeat -170px -51px;
 width:16px;
 height:16px;
 } .t_173 {
 background:url('char.png') no-repeat -187px -51px;
 width:16px;
 height:16px;
 } .t_174 {
 background:url('char.png') no-repeat -204px -51px;
 width:16px;
 height:16px;
 } .t_175 {
 background:url('char.png') no-repeat -221px -51px;
 width:16px;
 height:16px;
 } .t_176 {
 background:url('char.png') no-repeat -238px -51px;
 width:16px;
 height:16px;
 } .t_177 {
 background:url('char.png') no-repeat -255px -51px;
 width:16px;
 height:16px;
 } .t_178 {
 background:url('char.png') no-repeat -272px -51px;
 width:16px;
 height:16px;
 } .t_179 {
 background:url('char.png') no-repeat -289px -51px;
 width:16px;
 height:16px;
 } .t_180 {
 background:url('char.png') no-repeat -306px -51px;
 width:16px;
 height:16px;
 } .t_181 {
 background:url('char.png') no-repeat -323px -51px;
 width:16px;
 height:16px;
 } .t_182 {
 background:url('char.png') no-repeat -340px -51px;
 width:16px;
 height:16px;
 } .t_183 {
 background:url('char.png') no-repeat -357px -51px;
 width:16px;
 height:16px;
 } .t_184 {
 background:url('char.png') no-repeat -374px -51px;
 width:16px;
 height:16px;
 } .t_185 {
 background:url('char.png') no-repeat -391px -51px;
 width:16px;
 height:16px;
 } .t_186 {
 background:url('char.png') no-repeat -408px -51px;
 width:16px;
 height:16px;
 } .t_187 {
 background:url('char.png') no-repeat -425px -51px;
 width:16px;
 height:16px;
 } .t_188 {
 background:url('char.png') no-repeat -442px -51px;
 width:16px;
 height:16px;
 } .t_189 {
 background:url('char.png') no-repeat -459px -51px;
 width:16px;
 height:16px;
 } .t_190 {
 background:url('char.png') no-repeat -476px -51px;
 width:16px;
 height:16px;
 } .t_191 {
 background:url('char.png') no-repeat -493px -51px;
 width:16px;
 height:16px;
 } .t_192 {
 background:url('char.png') no-repeat -510px -51px;
 width:16px;
 height:16px;
 } .t_193 {
 background:url('char.png') no-repeat -527px -51px;
 width:16px;
 height:16px;
 } .t_194 {
 background:url('char.png') no-repeat -544px -51px;
 width:16px;
 height:16px;
 } .t_195 {
 background:url('char.png') no-repeat -561px -51px;
 width:16px;
 height:16px;
 } .t_196 {
 background:url('char.png') no-repeat -578px -51px;
 width:16px;
 height:16px;
 } .t_197 {
 background:url('char.png') no-repeat -595px -51px;
 width:16px;
 height:16px;
 } .t_198 {
 background:url('char.png') no-repeat -612px -51px;
 width:16px;
 height:16px;
 } .t_199 {
 background:url('char.png') no-repeat -629px -51px;
 width:16px;
 height:16px;
 } .t_200 {
 background:url('char.png') no-repeat -646px -51px;
 width:16px;
 height:16px;
 } .t_201 {
 background:url('char.png') no-repeat -663px -51px;
 width:16px;
 height:16px;
 } .t_202 {
 background:url('char.png') no-repeat -680px -51px;
 width:16px;
 height:16px;
 } .t_203 {
 background:url('char.png') no-repeat -697px -51px;
 width:16px;
 height:16px;
 } .t_204 {
 background:url('char.png') no-repeat -714px -51px;
 width:16px;
 height:16px;
 } .t_205 {
 background:url('char.png') no-repeat -731px -51px;
 width:16px;
 height:16px;
 } .t_206 {
 background:url('char.png') no-repeat -748px -51px;
 width:16px;
 height:16px;
 } .t_207 {
 background:url('char.png') no-repeat -765px -51px;
 width:16px;
 height:16px;
 } .t_208 {
 background:url('char.png') no-repeat -782px -51px;
 width:16px;
 height:16px;
 } .t_209 {
 background:url('char.png') no-repeat -799px -51px;
 width:16px;
 height:16px;
 } .t_210 {
 background:url('char.png') no-repeat -816px -51px;
 width:16px;
 height:16px;
 } .t_211 {
 background:url('char.png') no-repeat -833px -51px;
 width:16px;
 height:16px;
 } .t_212 {
 background:url('char.png') no-repeat -850px -51px;
 width:16px;
 height:16px;
 } .t_213 {
 background:url('char.png') no-repeat -867px -51px;
 width:16px;
 height:16px;
 } .t_214 {
 background:url('char.png') no-repeat -884px -51px;
 width:16px;
 height:16px;
 } .t_215 {
 background:url('char.png') no-repeat -901px -51px;
 width:16px;
 height:16px;
 } .t_216 {
 background:url('char.png') no-repeat -0px -68px;
 width:16px;
 height:16px;
 } .t_217 {
 background:url('char.png') no-repeat -17px -68px;
 width:16px;
 height:16px;
 } .t_218 {
 background:url('char.png') no-repeat -34px -68px;
 width:16px;
 height:16px;
 } .t_219 {
 background:url('char.png') no-repeat -51px -68px;
 width:16px;
 height:16px;
 } .t_220 {
 background:url('char.png') no-repeat -68px -68px;
 width:16px;
 height:16px;
 } .t_221 {
 background:url('char.png') no-repeat -85px -68px;
 width:16px;
 height:16px;
 } .t_222 {
 background:url('char.png') no-repeat -102px -68px;
 width:16px;
 height:16px;
 } .t_223 {
 background:url('char.png') no-repeat -119px -68px;
 width:16px;
 height:16px;
 } .t_224 {
 background:url('char.png') no-repeat -136px -68px;
 width:16px;
 height:16px;
 } .t_225 {
 background:url('char.png') no-repeat -153px -68px;
 width:16px;
 height:16px;
 } .t_226 {
 background:url('char.png') no-repeat -170px -68px;
 width:16px;
 height:16px;
 } .t_227 {
 background:url('char.png') no-repeat -187px -68px;
 width:16px;
 height:16px;
 } .t_228 {
 background:url('char.png') no-repeat -204px -68px;
 width:16px;
 height:16px;
 } .t_229 {
 background:url('char.png') no-repeat -221px -68px;
 width:16px;
 height:16px;
 } .t_230 {
 background:url('char.png') no-repeat -238px -68px;
 width:16px;
 height:16px;
 } .t_231 {
 background:url('char.png') no-repeat -255px -68px;
 width:16px;
 height:16px;
 } .t_232 {
 background:url('char.png') no-repeat -272px -68px;
 width:16px;
 height:16px;
 } .t_233 {
 background:url('char.png') no-repeat -289px -68px;
 width:16px;
 height:16px;
 } .t_234 {
 background:url('char.png') no-repeat -306px -68px;
 width:16px;
 height:16px;
 } .t_235 {
 background:url('char.png') no-repeat -323px -68px;
 width:16px;
 height:16px;
 } .t_236 {
 background:url('char.png') no-repeat -340px -68px;
 width:16px;
 height:16px;
 } .t_237 {
 background:url('char.png') no-repeat -357px -68px;
 width:16px;
 height:16px;
 } .t_238 {
 background:url('char.png') no-repeat -374px -68px;
 width:16px;
 height:16px;
 } .t_239 {
 background:url('char.png') no-repeat -391px -68px;
 width:16px;
 height:16px;
 } .t_240 {
 background:url('char.png') no-repeat -408px -68px;
 width:16px;
 height:16px;
 } .t_241 {
 background:url('char.png') no-repeat -425px -68px;
 width:16px;
 height:16px;
 } .t_242 {
 background:url('char.png') no-repeat -442px -68px;
 width:16px;
 height:16px;
 } .t_243 {
 background:url('char.png') no-repeat -459px -68px;
 width:16px;
 height:16px;
 } .t_244 {
 background:url('char.png') no-repeat -476px -68px;
 width:16px;
 height:16px;
 } .t_245 {
 background:url('char.png') no-repeat -493px -68px;
 width:16px;
 height:16px;
 } .t_246 {
 background:url('char.png') no-repeat -510px -68px;
 width:16px;
 height:16px;
 } .t_247 {
 background:url('char.png') no-repeat -527px -68px;
 width:16px;
 height:16px;
 } .t_248 {
 background:url('char.png') no-repeat -544px -68px;
 width:16px;
 height:16px;
 } .t_249 {
 background:url('char.png') no-repeat -561px -68px;
 width:16px;
 height:16px;
 } .t_250 {
 background:url('char.png') no-repeat -578px -68px;
 width:16px;
 height:16px;
 } .t_251 {
 background:url('char.png') no-repeat -595px -68px;
 width:16px;
 height:16px;
 } .t_252 {
 background:url('char.png') no-repeat -612px -68px;
 width:16px;
 height:16px;
 } .t_253 {
 background:url('char.png') no-repeat -629px -68px;
 width:16px;
 height:16px;
 } .t_254 {
 background:url('char.png') no-repeat -646px -68px;
 width:16px;
 height:16px;
 } .t_255 {
 background:url('char.png') no-repeat -663px -68px;
 width:16px;
 height:16px;
 } .t_256 {
 background:url('char.png') no-repeat -680px -68px;
 width:16px;
 height:16px;
 } .t_257 {
 background:url('char.png') no-repeat -697px -68px;
 width:16px;
 height:16px;
 } .t_258 {
 background:url('char.png') no-repeat -714px -68px;
 width:16px;
 height:16px;
 } .t_259 {
 background:url('char.png') no-repeat -731px -68px;
 width:16px;
 height:16px;
 } .t_260 {
 background:url('char.png') no-repeat -748px -68px;
 width:16px;
 height:16px;
 } .t_261 {
 background:url('char.png') no-repeat -765px -68px;
 width:16px;
 height:16px;
 } .t_262 {
 background:url('char.png') no-repeat -782px -68px;
 width:16px;
 height:16px;
 } .t_263 {
 background:url('char.png') no-repeat -799px -68px;
 width:16px;
 height:16px;
 } .t_264 {
 background:url('char.png') no-repeat -816px -68px;
 width:16px;
 height:16px;
 } .t_265 {
 background:url('char.png') no-repeat -833px -68px;
 width:16px;
 height:16px;
 } .t_266 {
 background:url('char.png') no-repeat -850px -68px;
 width:16px;
 height:16px;
 } .t_267 {
 background:url('char.png') no-repeat -867px -68px;
 width:16px;
 height:16px;
 } .t_268 {
 background:url('char.png') no-repeat -884px -68px;
 width:16px;
 height:16px;
 } .t_269 {
 background:url('char.png') no-repeat -901px -68px;
 width:16px;
 height:16px;
 } .t_270 {
 background:url('char.png') no-repeat -0px -85px;
 width:16px;
 height:16px;
 } .t_271 {
 background:url('char.png') no-repeat -17px -85px;
 width:16px;
 height:16px;
 } .t_272 {
 background:url('char.png') no-repeat -34px -85px;
 width:16px;
 height:16px;
 } .t_273 {
 background:url('char.png') no-repeat -51px -85px;
 width:16px;
 height:16px;
 } .t_274 {
 background:url('char.png') no-repeat -68px -85px;
 width:16px;
 height:16px;
 } .t_275 {
 background:url('char.png') no-repeat -85px -85px;
 width:16px;
 height:16px;
 } .t_276 {
 background:url('char.png') no-repeat -102px -85px;
 width:16px;
 height:16px;
 } .t_277 {
 background:url('char.png') no-repeat -119px -85px;
 width:16px;
 height:16px;
 } .t_278 {
 background:url('char.png') no-repeat -136px -85px;
 width:16px;
 height:16px;
 } .t_279 {
 background:url('char.png') no-repeat -153px -85px;
 width:16px;
 height:16px;
 } .t_280 {
 background:url('char.png') no-repeat -170px -85px;
 width:16px;
 height:16px;
 } .t_281 {
 background:url('char.png') no-repeat -187px -85px;
 width:16px;
 height:16px;
 } .t_282 {
 background:url('char.png') no-repeat -204px -85px;
 width:16px;
 height:16px;
 } .t_283 {
 background:url('char.png') no-repeat -221px -85px;
 width:16px;
 height:16px;
 } .t_284 {
 background:url('char.png') no-repeat -238px -85px;
 width:16px;
 height:16px;
 } .t_285 {
 background:url('char.png') no-repeat -255px -85px;
 width:16px;
 height:16px;
 } .t_286 {
 background:url('char.png') no-repeat -272px -85px;
 width:16px;
 height:16px;
 } .t_287 {
 background:url('char.png') no-repeat -289px -85px;
 width:16px;
 height:16px;
 } .t_288 {
 background:url('char.png') no-repeat -306px -85px;
 width:16px;
 height:16px;
 } .t_289 {
 background:url('char.png') no-repeat -323px -85px;
 width:16px;
 height:16px;
 } .t_290 {
 background:url('char.png') no-repeat -340px -85px;
 width:16px;
 height:16px;
 } .t_291 {
 background:url('char.png') no-repeat -357px -85px;
 width:16px;
 height:16px;
 } .t_292 {
 background:url('char.png') no-repeat -374px -85px;
 width:16px;
 height:16px;
 } .t_293 {
 background:url('char.png') no-repeat -391px -85px;
 width:16px;
 height:16px;
 } .t_294 {
 background:url('char.png') no-repeat -408px -85px;
 width:16px;
 height:16px;
 } .t_295 {
 background:url('char.png') no-repeat -425px -85px;
 width:16px;
 height:16px;
 } .t_296 {
 background:url('char.png') no-repeat -442px -85px;
 width:16px;
 height:16px;
 } .t_297 {
 background:url('char.png') no-repeat -459px -85px;
 width:16px;
 height:16px;
 } .t_298 {
 background:url('char.png') no-repeat -476px -85px;
 width:16px;
 height:16px;
 } .t_299 {
 background:url('char.png') no-repeat -493px -85px;
 width:16px;
 height:16px;
 } .t_300 {
 background:url('char.png') no-repeat -510px -85px;
 width:16px;
 height:16px;
 } .t_301 {
 background:url('char.png') no-repeat -527px -85px;
 width:16px;
 height:16px;
 } .t_302 {
 background:url('char.png') no-repeat -544px -85px;
 width:16px;
 height:16px;
 } .t_303 {
 background:url('char.png') no-repeat -561px -85px;
 width:16px;
 height:16px;
 } .t_304 {
 background:url('char.png') no-repeat -578px -85px;
 width:16px;
 height:16px;
 } .t_305 {
 background:url('char.png') no-repeat -595px -85px;
 width:16px;
 height:16px;
 } .t_306 {
 background:url('char.png') no-repeat -612px -85px;
 width:16px;
 height:16px;
 } .t_307 {
 background:url('char.png') no-repeat -629px -85px;
 width:16px;
 height:16px;
 } .t_308 {
 background:url('char.png') no-repeat -646px -85px;
 width:16px;
 height:16px;
 } .t_309 {
 background:url('char.png') no-repeat -663px -85px;
 width:16px;
 height:16px;
 } .t_310 {
 background:url('char.png') no-repeat -680px -85px;
 width:16px;
 height:16px;
 } .t_311 {
 background:url('char.png') no-repeat -697px -85px;
 width:16px;
 height:16px;
 } .t_312 {
 background:url('char.png') no-repeat -714px -85px;
 width:16px;
 height:16px;
 } .t_313 {
 background:url('char.png') no-repeat -731px -85px;
 width:16px;
 height:16px;
 } .t_314 {
 background:url('char.png') no-repeat -748px -85px;
 width:16px;
 height:16px;
 } .t_315 {
 background:url('char.png') no-repeat -765px -85px;
 width:16px;
 height:16px;
 } .t_316 {
 background:url('char.png') no-repeat -782px -85px;
 width:16px;
 height:16px;
 } .t_317 {
 background:url('char.png') no-repeat -799px -85px;
 width:16px;
 height:16px;
 } .t_318 {
 background:url('char.png') no-repeat -816px -85px;
 width:16px;
 height:16px;
 } .t_319 {
 background:url('char.png') no-repeat -833px -85px;
 width:16px;
 height:16px;
 } .t_320 {
 background:url('char.png') no-repeat -850px -85px;
 width:16px;
 height:16px;
 } .t_321 {
 background:url('char.png') no-repeat -867px -85px;
 width:16px;
 height:16px;
 } .t_322 {
 background:url('char.png') no-repeat -884px -85px;
 width:16px;
 height:16px;
 } .t_323 {
 background:url('char.png') no-repeat -901px -85px;
 width:16px;
 height:16px;
 } .t_324 {
 background:url('char.png') no-repeat -0px -102px;
 width:16px;
 height:16px;
 } .t_325 {
 background:url('char.png') no-repeat -17px -102px;
 width:16px;
 height:16px;
 } .t_326 {
 background:url('char.png') no-repeat -34px -102px;
 width:16px;
 height:16px;
 } .t_327 {
 background:url('char.png') no-repeat -51px -102px;
 width:16px;
 height:16px;
 } .t_328 {
 background:url('char.png') no-repeat -68px -102px;
 width:16px;
 height:16px;
 } .t_329 {
 background:url('char.png') no-repeat -85px -102px;
 width:16px;
 height:16px;
 } .t_330 {
 background:url('char.png') no-repeat -102px -102px;
 width:16px;
 height:16px;
 } .t_331 {
 background:url('char.png') no-repeat -119px -102px;
 width:16px;
 height:16px;
 } .t_332 {
 background:url('char.png') no-repeat -136px -102px;
 width:16px;
 height:16px;
 } .t_333 {
 background:url('char.png') no-repeat -153px -102px;
 width:16px;
 height:16px;
 } .t_334 {
 background:url('char.png') no-repeat -170px -102px;
 width:16px;
 height:16px;
 } .t_335 {
 background:url('char.png') no-repeat -187px -102px;
 width:16px;
 height:16px;
 } .t_336 {
 background:url('char.png') no-repeat -204px -102px;
 width:16px;
 height:16px;
 } .t_337 {
 background:url('char.png') no-repeat -221px -102px;
 width:16px;
 height:16px;
 } .t_338 {
 background:url('char.png') no-repeat -238px -102px;
 width:16px;
 height:16px;
 } .t_339 {
 background:url('char.png') no-repeat -255px -102px;
 width:16px;
 height:16px;
 } .t_340 {
 background:url('char.png') no-repeat -272px -102px;
 width:16px;
 height:16px;
 } .t_341 {
 background:url('char.png') no-repeat -289px -102px;
 width:16px;
 height:16px;
 } .t_342 {
 background:url('char.png') no-repeat -306px -102px;
 width:16px;
 height:16px;
 } .t_343 {
 background:url('char.png') no-repeat -323px -102px;
 width:16px;
 height:16px;
 } .t_344 {
 background:url('char.png') no-repeat -340px -102px;
 width:16px;
 height:16px;
 } .t_345 {
 background:url('char.png') no-repeat -357px -102px;
 width:16px;
 height:16px;
 } .t_346 {
 background:url('char.png') no-repeat -374px -102px;
 width:16px;
 height:16px;
 } .t_347 {
 background:url('char.png') no-repeat -391px -102px;
 width:16px;
 height:16px;
 } .t_348 {
 background:url('char.png') no-repeat -408px -102px;
 width:16px;
 height:16px;
 } .t_349 {
 background:url('char.png') no-repeat -425px -102px;
 width:16px;
 height:16px;
 } .t_350 {
 background:url('char.png') no-repeat -442px -102px;
 width:16px;
 height:16px;
 } .t_351 {
 background:url('char.png') no-repeat -459px -102px;
 width:16px;
 height:16px;
 } .t_352 {
 background:url('char.png') no-repeat -476px -102px;
 width:16px;
 height:16px;
 } .t_353 {
 background:url('char.png') no-repeat -493px -102px;
 width:16px;
 height:16px;
 } .t_354 {
 background:url('char.png') no-repeat -510px -102px;
 width:16px;
 height:16px;
 } .t_355 {
 background:url('char.png') no-repeat -527px -102px;
 width:16px;
 height:16px;
 } .t_356 {
 background:url('char.png') no-repeat -544px -102px;
 width:16px;
 height:16px;
 } .t_357 {
 background:url('char.png') no-repeat -561px -102px;
 width:16px;
 height:16px;
 } .t_358 {
 background:url('char.png') no-repeat -578px -102px;
 width:16px;
 height:16px;
 } .t_359 {
 background:url('char.png') no-repeat -595px -102px;
 width:16px;
 height:16px;
 } .t_360 {
 background:url('char.png') no-repeat -612px -102px;
 width:16px;
 height:16px;
 } .t_361 {
 background:url('char.png') no-repeat -629px -102px;
 width:16px;
 height:16px;
 } .t_362 {
 background:url('char.png') no-repeat -646px -102px;
 width:16px;
 height:16px;
 } .t_363 {
 background:url('char.png') no-repeat -663px -102px;
 width:16px;
 height:16px;
 } .t_364 {
 background:url('char.png') no-repeat -680px -102px;
 width:16px;
 height:16px;
 } .t_365 {
 background:url('char.png') no-repeat -697px -102px;
 width:16px;
 height:16px;
 } .t_366 {
 background:url('char.png') no-repeat -714px -102px;
 width:16px;
 height:16px;
 } .t_367 {
 background:url('char.png') no-repeat -731px -102px;
 width:16px;
 height:16px;
 } .t_368 {
 background:url('char.png') no-repeat -748px -102px;
 width:16px;
 height:16px;
 } .t_369 {
 background:url('char.png') no-repeat -765px -102px;
 width:16px;
 height:16px;
 } .t_370 {
 background:url('char.png') no-repeat -782px -102px;
 width:16px;
 height:16px;
 } .t_371 {
 background:url('char.png') no-repeat -799px -102px;
 width:16px;
 height:16px;
 } .t_372 {
 background:url('char.png') no-repeat -816px -102px;
 width:16px;
 height:16px;
 } .t_373 {
 background:url('char.png') no-repeat -833px -102px;
 width:16px;
 height:16px;
 } .t_374 {
 background:url('char.png') no-repeat -850px -102px;
 width:16px;
 height:16px;
 } .t_375 {
 background:url('char.png') no-repeat -867px -102px;
 width:16px;
 height:16px;
 } .t_376 {
 background:url('char.png') no-repeat -884px -102px;
 width:16px;
 height:16px;
 } .t_377 {
 background:url('char.png') no-repeat -901px -102px;
 width:16px;
 height:16px;
 } .t_378 {
 background:url('char.png') no-repeat -0px -119px;
 width:16px;
 height:16px;
 } .t_379 {
 background:url('char.png') no-repeat -17px -119px;
 width:16px;
 height:16px;
 } .t_380 {
 background:url('char.png') no-repeat -34px -119px;
 width:16px;
 height:16px;
 } .t_381 {
 background:url('char.png') no-repeat -51px -119px;
 width:16px;
 height:16px;
 } .t_382 {
 background:url('char.png') no-repeat -68px -119px;
 width:16px;
 height:16px;
 } .t_383 {
 background:url('char.png') no-repeat -85px -119px;
 width:16px;
 height:16px;
 } .t_384 {
 background:url('char.png') no-repeat -102px -119px;
 width:16px;
 height:16px;
 } .t_385 {
 background:url('char.png') no-repeat -119px -119px;
 width:16px;
 height:16px;
 } .t_386 {
 background:url('char.png') no-repeat -136px -119px;
 width:16px;
 height:16px;
 } .t_387 {
 background:url('char.png') no-repeat -153px -119px;
 width:16px;
 height:16px;
 } .t_388 {
 background:url('char.png') no-repeat -170px -119px;
 width:16px;
 height:16px;
 } .t_389 {
 background:url('char.png') no-repeat -187px -119px;
 width:16px;
 height:16px;
 } .t_390 {
 background:url('char.png') no-repeat -204px -119px;
 width:16px;
 height:16px;
 } .t_391 {
 background:url('char.png') no-repeat -221px -119px;
 width:16px;
 height:16px;
 } .t_392 {
 background:url('char.png') no-repeat -238px -119px;
 width:16px;
 height:16px;
 } .t_393 {
 background:url('char.png') no-repeat -255px -119px;
 width:16px;
 height:16px;
 } .t_394 {
 background:url('char.png') no-repeat -272px -119px;
 width:16px;
 height:16px;
 } .t_395 {
 background:url('char.png') no-repeat -289px -119px;
 width:16px;
 height:16px;
 } .t_396 {
 background:url('char.png') no-repeat -306px -119px;
 width:16px;
 height:16px;
 } .t_397 {
 background:url('char.png') no-repeat -323px -119px;
 width:16px;
 height:16px;
 } .t_398 {
 background:url('char.png') no-repeat -340px -119px;
 width:16px;
 height:16px;
 } .t_399 {
 background:url('char.png') no-repeat -357px -119px;
 width:16px;
 height:16px;
 } .t_400 {
 background:url('char.png') no-repeat -374px -119px;
 width:16px;
 height:16px;
 } .t_401 {
 background:url('char.png') no-repeat -391px -119px;
 width:16px;
 height:16px;
 } .t_402 {
 background:url('char.png') no-repeat -408px -119px;
 width:16px;
 height:16px;
 } .t_403 {
 background:url('char.png') no-repeat -425px -119px;
 width:16px;
 height:16px;
 } .t_404 {
 background:url('char.png') no-repeat -442px -119px;
 width:16px;
 height:16px;
 } .t_405 {
 background:url('char.png') no-repeat -459px -119px;
 width:16px;
 height:16px;
 } .t_406 {
 background:url('char.png') no-repeat -476px -119px;
 width:16px;
 height:16px;
 } .t_407 {
 background:url('char.png') no-repeat -493px -119px;
 width:16px;
 height:16px;
 } .t_408 {
 background:url('char.png') no-repeat -510px -119px;
 width:16px;
 height:16px;
 } .t_409 {
 background:url('char.png') no-repeat -527px -119px;
 width:16px;
 height:16px;
 } .t_410 {
 background:url('char.png') no-repeat -544px -119px;
 width:16px;
 height:16px;
 } .t_411 {
 background:url('char.png') no-repeat -561px -119px;
 width:16px;
 height:16px;
 } .t_412 {
 background:url('char.png') no-repeat -578px -119px;
 width:16px;
 height:16px;
 } .t_413 {
 background:url('char.png') no-repeat -595px -119px;
 width:16px;
 height:16px;
 } .t_414 {
 background:url('char.png') no-repeat -612px -119px;
 width:16px;
 height:16px;
 } .t_415 {
 background:url('char.png') no-repeat -629px -119px;
 width:16px;
 height:16px;
 } .t_416 {
 background:url('char.png') no-repeat -646px -119px;
 width:16px;
 height:16px;
 } .t_417 {
 background:url('char.png') no-repeat -663px -119px;
 width:16px;
 height:16px;
 } .t_418 {
 background:url('char.png') no-repeat -680px -119px;
 width:16px;
 height:16px;
 } .t_419 {
 background:url('char.png') no-repeat -697px -119px;
 width:16px;
 height:16px;
 } .t_420 {
 background:url('char.png') no-repeat -714px -119px;
 width:16px;
 height:16px;
 } .t_421 {
 background:url('char.png') no-repeat -731px -119px;
 width:16px;
 height:16px;
 } .t_422 {
 background:url('char.png') no-repeat -748px -119px;
 width:16px;
 height:16px;
 } .t_423 {
 background:url('char.png') no-repeat -765px -119px;
 width:16px;
 height:16px;
 } .t_424 {
 background:url('char.png') no-repeat -782px -119px;
 width:16px;
 height:16px;
 } .t_425 {
 background:url('char.png') no-repeat -799px -119px;
 width:16px;
 height:16px;
 } .t_426 {
 background:url('char.png') no-repeat -816px -119px;
 width:16px;
 height:16px;
 } .t_427 {
 background:url('char.png') no-repeat -833px -119px;
 width:16px;
 height:16px;
 } .t_428 {
 background:url('char.png') no-repeat -850px -119px;
 width:16px;
 height:16px;
 } .t_429 {
 background:url('char.png') no-repeat -867px -119px;
 width:16px;
 height:16px;
 } .t_430 {
 background:url('char.png') no-repeat -884px -119px;
 width:16px;
 height:16px;
 } .t_431 {
 background:url('char.png') no-repeat -901px -119px;
 width:16px;
 height:16px;
 } .t_432 {
 background:url('char.png') no-repeat -0px -136px;
 width:16px;
 height:16px;
 } .t_433 {
 background:url('char.png') no-repeat -17px -136px;
 width:16px;
 height:16px;
 } .t_434 {
 background:url('char.png') no-repeat -34px -136px;
 width:16px;
 height:16px;
 } .t_435 {
 background:url('char.png') no-repeat -51px -136px;
 width:16px;
 height:16px;
 } .t_436 {
 background:url('char.png') no-repeat -68px -136px;
 width:16px;
 height:16px;
 } .t_437 {
 background:url('char.png') no-repeat -85px -136px;
 width:16px;
 height:16px;
 } .t_438 {
 background:url('char.png') no-repeat -102px -136px;
 width:16px;
 height:16px;
 } .t_439 {
 background:url('char.png') no-repeat -119px -136px;
 width:16px;
 height:16px;
 } .t_440 {
 background:url('char.png') no-repeat -136px -136px;
 width:16px;
 height:16px;
 } .t_441 {
 background:url('char.png') no-repeat -153px -136px;
 width:16px;
 height:16px;
 } .t_442 {
 background:url('char.png') no-repeat -170px -136px;
 width:16px;
 height:16px;
 } .t_443 {
 background:url('char.png') no-repeat -187px -136px;
 width:16px;
 height:16px;
 } .t_444 {
 background:url('char.png') no-repeat -204px -136px;
 width:16px;
 height:16px;
 } .t_445 {
 background:url('char.png') no-repeat -221px -136px;
 width:16px;
 height:16px;
 } .t_446 {
 background:url('char.png') no-repeat -238px -136px;
 width:16px;
 height:16px;
 } .t_447 {
 background:url('char.png') no-repeat -255px -136px;
 width:16px;
 height:16px;
 } .t_448 {
 background:url('char.png') no-repeat -272px -136px;
 width:16px;
 height:16px;
 } .t_449 {
 background:url('char.png') no-repeat -289px -136px;
 width:16px;
 height:16px;
 } .t_450 {
 background:url('char.png') no-repeat -306px -136px;
 width:16px;
 height:16px;
 } .t_451 {
 background:url('char.png') no-repeat -323px -136px;
 width:16px;
 height:16px;
 } .t_452 {
 background:url('char.png') no-repeat -340px -136px;
 width:16px;
 height:16px;
 } .t_453 {
 background:url('char.png') no-repeat -357px -136px;
 width:16px;
 height:16px;
 } .t_454 {
 background:url('char.png') no-repeat -374px -136px;
 width:16px;
 height:16px;
 } .t_455 {
 background:url('char.png') no-repeat -391px -136px;
 width:16px;
 height:16px;
 } .t_456 {
 background:url('char.png') no-repeat -408px -136px;
 width:16px;
 height:16px;
 } .t_457 {
 background:url('char.png') no-repeat -425px -136px;
 width:16px;
 height:16px;
 } .t_458 {
 background:url('char.png') no-repeat -442px -136px;
 width:16px;
 height:16px;
 } .t_459 {
 background:url('char.png') no-repeat -459px -136px;
 width:16px;
 height:16px;
 } .t_460 {
 background:url('char.png') no-repeat -476px -136px;
 width:16px;
 height:16px;
 } .t_461 {
 background:url('char.png') no-repeat -493px -136px;
 width:16px;
 height:16px;
 } .t_462 {
 background:url('char.png') no-repeat -510px -136px;
 width:16px;
 height:16px;
 } .t_463 {
 background:url('char.png') no-repeat -527px -136px;
 width:16px;
 height:16px;
 } .t_464 {
 background:url('char.png') no-repeat -544px -136px;
 width:16px;
 height:16px;
 } .t_465 {
 background:url('char.png') no-repeat -561px -136px;
 width:16px;
 height:16px;
 } .t_466 {
 background:url('char.png') no-repeat -578px -136px;
 width:16px;
 height:16px;
 } .t_467 {
 background:url('char.png') no-repeat -595px -136px;
 width:16px;
 height:16px;
 } .t_468 {
 background:url('char.png') no-repeat -612px -136px;
 width:16px;
 height:16px;
 } .t_469 {
 background:url('char.png') no-repeat -629px -136px;
 width:16px;
 height:16px;
 } .t_470 {
 background:url('char.png') no-repeat -646px -136px;
 width:16px;
 height:16px;
 } .t_471 {
 background:url('char.png') no-repeat -663px -136px;
 width:16px;
 height:16px;
 } .t_472 {
 background:url('char.png') no-repeat -680px -136px;
 width:16px;
 height:16px;
 } .t_473 {
 background:url('char.png') no-repeat -697px -136px;
 width:16px;
 height:16px;
 } .t_474 {
 background:url('char.png') no-repeat -714px -136px;
 width:16px;
 height:16px;
 } .t_475 {
 background:url('char.png') no-repeat -731px -136px;
 width:16px;
 height:16px;
 } .t_476 {
 background:url('char.png') no-repeat -748px -136px;
 width:16px;
 height:16px;
 } .t_477 {
 background:url('char.png') no-repeat -765px -136px;
 width:16px;
 height:16px;
 } .t_478 {
 background:url('char.png') no-repeat -782px -136px;
 width:16px;
 height:16px;
 } .t_479 {
 background:url('char.png') no-repeat -799px -136px;
 width:16px;
 height:16px;
 } .t_480 {
 background:url('char.png') no-repeat -816px -136px;
 width:16px;
 height:16px;
 } .t_481 {
 background:url('char.png') no-repeat -833px -136px;
 width:16px;
 height:16px;
 } .t_482 {
 background:url('char.png') no-repeat -850px -136px;
 width:16px;
 height:16px;
 } .t_483 {
 background:url('char.png') no-repeat -867px -136px;
 width:16px;
 height:16px;
 } .t_484 {
 background:url('char.png') no-repeat -884px -136px;
 width:16px;
 height:16px;
 } .t_485 {
 background:url('char.png') no-repeat -901px -136px;
 width:16px;
 height:16px;
 } .t_486 {
 background:url('char.png') no-repeat -0px -153px;
 width:16px;
 height:16px;
 } .t_487 {
 background:url('char.png') no-repeat -17px -153px;
 width:16px;
 height:16px;
 } .t_488 {
 background:url('char.png') no-repeat -34px -153px;
 width:16px;
 height:16px;
 } .t_489 {
 background:url('char.png') no-repeat -51px -153px;
 width:16px;
 height:16px;
 } .t_490 {
 background:url('char.png') no-repeat -68px -153px;
 width:16px;
 height:16px;
 } .t_491 {
 background:url('char.png') no-repeat -85px -153px;
 width:16px;
 height:16px;
 } .t_492 {
 background:url('char.png') no-repeat -102px -153px;
 width:16px;
 height:16px;
 } .t_493 {
 background:url('char.png') no-repeat -119px -153px;
 width:16px;
 height:16px;
 } .t_494 {
 background:url('char.png') no-repeat -136px -153px;
 width:16px;
 height:16px;
 } .t_495 {
 background:url('char.png') no-repeat -153px -153px;
 width:16px;
 height:16px;
 } .t_496 {
 background:url('char.png') no-repeat -170px -153px;
 width:16px;
 height:16px;
 } .t_497 {
 background:url('char.png') no-repeat -187px -153px;
 width:16px;
 height:16px;
 } .t_498 {
 background:url('char.png') no-repeat -204px -153px;
 width:16px;
 height:16px;
 } .t_499 {
 background:url('char.png') no-repeat -221px -153px;
 width:16px;
 height:16px;
 } .t_500 {
 background:url('char.png') no-repeat -238px -153px;
 width:16px;
 height:16px;
 } .t_501 {
 background:url('char.png') no-repeat -255px -153px;
 width:16px;
 height:16px;
 } .t_502 {
 background:url('char.png') no-repeat -272px -153px;
 width:16px;
 height:16px;
 } .t_503 {
 background:url('char.png') no-repeat -289px -153px;
 width:16px;
 height:16px;
 } .t_504 {
 background:url('char.png') no-repeat -306px -153px;
 width:16px;
 height:16px;
 } .t_505 {
 background:url('char.png') no-repeat -323px -153px;
 width:16px;
 height:16px;
 } .t_506 {
 background:url('char.png') no-repeat -340px -153px;
 width:16px;
 height:16px;
 } .t_507 {
 background:url('char.png') no-repeat -357px -153px;
 width:16px;
 height:16px;
 } .t_508 {
 background:url('char.png') no-repeat -374px -153px;
 width:16px;
 height:16px;
 } .t_509 {
 background:url('char.png') no-repeat -391px -153px;
 width:16px;
 height:16px;
 } .t_510 {
 background:url('char.png') no-repeat -408px -153px;
 width:16px;
 height:16px;
 } .t_511 {
 background:url('char.png') no-repeat -425px -153px;
 width:16px;
 height:16px;
 } .t_512 {
 background:url('char.png') no-repeat -442px -153px;
 width:16px;
 height:16px;
 } .t_513 {
 background:url('char.png') no-repeat -459px -153px;
 width:16px;
 height:16px;
 } .t_514 {
 background:url('char.png') no-repeat -476px -153px;
 width:16px;
 height:16px;
 } .t_515 {
 background:url('char.png') no-repeat -493px -153px;
 width:16px;
 height:16px;
 } .t_516 {
 background:url('char.png') no-repeat -510px -153px;
 width:16px;
 height:16px;
 } .t_517 {
 background:url('char.png') no-repeat -527px -153px;
 width:16px;
 height:16px;
 } .t_518 {
 background:url('char.png') no-repeat -544px -153px;
 width:16px;
 height:16px;
 } .t_519 {
 background:url('char.png') no-repeat -561px -153px;
 width:16px;
 height:16px;
 } .t_520 {
 background:url('char.png') no-repeat -578px -153px;
 width:16px;
 height:16px;
 } .t_521 {
 background:url('char.png') no-repeat -595px -153px;
 width:16px;
 height:16px;
 } .t_522 {
 background:url('char.png') no-repeat -612px -153px;
 width:16px;
 height:16px;
 } .t_523 {
 background:url('char.png') no-repeat -629px -153px;
 width:16px;
 height:16px;
 } .t_524 {
 background:url('char.png') no-repeat -646px -153px;
 width:16px;
 height:16px;
 } .t_525 {
 background:url('char.png') no-repeat -663px -153px;
 width:16px;
 height:16px;
 } .t_526 {
 background:url('char.png') no-repeat -680px -153px;
 width:16px;
 height:16px;
 } .t_527 {
 background:url('char.png') no-repeat -697px -153px;
 width:16px;
 height:16px;
 } .t_528 {
 background:url('char.png') no-repeat -714px -153px;
 width:16px;
 height:16px;
 } .t_529 {
 background:url('char.png') no-repeat -731px -153px;
 width:16px;
 height:16px;
 } .t_530 {
 background:url('char.png') no-repeat -748px -153px;
 width:16px;
 height:16px;
 } .t_531 {
 background:url('char.png') no-repeat -765px -153px;
 width:16px;
 height:16px;
 } .t_532 {
 background:url('char.png') no-repeat -782px -153px;
 width:16px;
 height:16px;
 } .t_533 {
 background:url('char.png') no-repeat -799px -153px;
 width:16px;
 height:16px;
 } .t_534 {
 background:url('char.png') no-repeat -816px -153px;
 width:16px;
 height:16px;
 } .t_535 {
 background:url('char.png') no-repeat -833px -153px;
 width:16px;
 height:16px;
 } .t_536 {
 background:url('char.png') no-repeat -850px -153px;
 width:16px;
 height:16px;
 } .t_537 {
 background:url('char.png') no-repeat -867px -153px;
 width:16px;
 height:16px;
 } .t_538 {
 background:url('char.png') no-repeat -884px -153px;
 width:16px;
 height:16px;
 } .t_539 {
 background:url('char.png') no-repeat -901px -153px;
 width:16px;
 height:16px;
 } .t_540 {
 background:url('char.png') no-repeat -0px -170px;
 width:16px;
 height:16px;
 } .t_541 {
 background:url('char.png') no-repeat -17px -170px;
 width:16px;
 height:16px;
 } .t_542 {
 background:url('char.png') no-repeat -34px -170px;
 width:16px;
 height:16px;
 } .t_543 {
 background:url('char.png') no-repeat -51px -170px;
 width:16px;
 height:16px;
 } .t_544 {
 background:url('char.png') no-repeat -68px -170px;
 width:16px;
 height:16px;
 } .t_545 {
 background:url('char.png') no-repeat -85px -170px;
 width:16px;
 height:16px;
 } .t_546 {
 background:url('char.png') no-repeat -102px -170px;
 width:16px;
 height:16px;
 } .t_547 {
 background:url('char.png') no-repeat -119px -170px;
 width:16px;
 height:16px;
 } .t_548 {
 background:url('char.png') no-repeat -136px -170px;
 width:16px;
 height:16px;
 } .t_549 {
 background:url('char.png') no-repeat -153px -170px;
 width:16px;
 height:16px;
 } .t_550 {
 background:url('char.png') no-repeat -170px -170px;
 width:16px;
 height:16px;
 } .t_551 {
 background:url('char.png') no-repeat -187px -170px;
 width:16px;
 height:16px;
 } .t_552 {
 background:url('char.png') no-repeat -204px -170px;
 width:16px;
 height:16px;
 } .t_553 {
 background:url('char.png') no-repeat -221px -170px;
 width:16px;
 height:16px;
 } .t_554 {
 background:url('char.png') no-repeat -238px -170px;
 width:16px;
 height:16px;
 } .t_555 {
 background:url('char.png') no-repeat -255px -170px;
 width:16px;
 height:16px;
 } .t_556 {
 background:url('char.png') no-repeat -272px -170px;
 width:16px;
 height:16px;
 } .t_557 {
 background:url('char.png') no-repeat -289px -170px;
 width:16px;
 height:16px;
 } .t_558 {
 background:url('char.png') no-repeat -306px -170px;
 width:16px;
 height:16px;
 } .t_559 {
 background:url('char.png') no-repeat -323px -170px;
 width:16px;
 height:16px;
 } .t_560 {
 background:url('char.png') no-repeat -340px -170px;
 width:16px;
 height:16px;
 } .t_561 {
 background:url('char.png') no-repeat -357px -170px;
 width:16px;
 height:16px;
 } .t_562 {
 background:url('char.png') no-repeat -374px -170px;
 width:16px;
 height:16px;
 } .t_563 {
 background:url('char.png') no-repeat -391px -170px;
 width:16px;
 height:16px;
 } .t_564 {
 background:url('char.png') no-repeat -408px -170px;
 width:16px;
 height:16px;
 } .t_565 {
 background:url('char.png') no-repeat -425px -170px;
 width:16px;
 height:16px;
 } .t_566 {
 background:url('char.png') no-repeat -442px -170px;
 width:16px;
 height:16px;
 } .t_567 {
 background:url('char.png') no-repeat -459px -170px;
 width:16px;
 height:16px;
 } .t_568 {
 background:url('char.png') no-repeat -476px -170px;
 width:16px;
 height:16px;
 } .t_569 {
 background:url('char.png') no-repeat -493px -170px;
 width:16px;
 height:16px;
 } .t_570 {
 background:url('char.png') no-repeat -510px -170px;
 width:16px;
 height:16px;
 } .t_571 {
 background:url('char.png') no-repeat -527px -170px;
 width:16px;
 height:16px;
 } .t_572 {
 background:url('char.png') no-repeat -544px -170px;
 width:16px;
 height:16px;
 } .t_573 {
 background:url('char.png') no-repeat -561px -170px;
 width:16px;
 height:16px;
 } .t_574 {
 background:url('char.png') no-repeat -578px -170px;
 width:16px;
 height:16px;
 } .t_575 {
 background:url('char.png') no-repeat -595px -170px;
 width:16px;
 height:16px;
 } .t_576 {
 background:url('char.png') no-repeat -612px -170px;
 width:16px;
 height:16px;
 } .t_577 {
 background:url('char.png') no-repeat -629px -170px;
 width:16px;
 height:16px;
 } .t_578 {
 background:url('char.png') no-repeat -646px -170px;
 width:16px;
 height:16px;
 } .t_579 {
 background:url('char.png') no-repeat -663px -170px;
 width:16px;
 height:16px;
 } .t_580 {
 background:url('char.png') no-repeat -680px -170px;
 width:16px;
 height:16px;
 } .t_581 {
 background:url('char.png') no-repeat -697px -170px;
 width:16px;
 height:16px;
 } .t_582 {
 background:url('char.png') no-repeat -714px -170px;
 width:16px;
 height:16px;
 } .t_583 {
 background:url('char.png') no-repeat -731px -170px;
 width:16px;
 height:16px;
 } .t_584 {
 background:url('char.png') no-repeat -748px -170px;
 width:16px;
 height:16px;
 } .t_585 {
 background:url('char.png') no-repeat -765px -170px;
 width:16px;
 height:16px;
 } .t_586 {
 background:url('char.png') no-repeat -782px -170px;
 width:16px;
 height:16px;
 } .t_587 {
 background:url('char.png') no-repeat -799px -170px;
 width:16px;
 height:16px;
 } .t_588 {
 background:url('char.png') no-repeat -816px -170px;
 width:16px;
 height:16px;
 } .t_589 {
 background:url('char.png') no-repeat -833px -170px;
 width:16px;
 height:16px;
 } .t_590 {
 background:url('char.png') no-repeat -850px -170px;
 width:16px;
 height:16px;
 } .t_591 {
 background:url('char.png') no-repeat -867px -170px;
 width:16px;
 height:16px;
 } .t_592 {
 background:url('char.png') no-repeat -884px -170px;
 width:16px;
 height:16px;
 } .t_593 {
 background:url('char.png') no-repeat -901px -170px;
 width:16px;
 height:16px;
 } .t_594 {
 background:url('char.png') no-repeat -0px -187px;
 width:16px;
 height:16px;
 } .t_595 {
 background:url('char.png') no-repeat -17px -187px;
 width:16px;
 height:16px;
 } .t_596 {
 background:url('char.png') no-repeat -34px -187px;
 width:16px;
 height:16px;
 } .t_597 {
 background:url('char.png') no-repeat -51px -187px;
 width:16px;
 height:16px;
 } .t_598 {
 background:url('char.png') no-repeat -68px -187px;
 width:16px;
 height:16px;
 } .t_599 {
 background:url('char.png') no-repeat -85px -187px;
 width:16px;
 height:16px;
 } .t_600 {
 background:url('char.png') no-repeat -102px -187px;
 width:16px;
 height:16px;
 } .t_601 {
 background:url('char.png') no-repeat -119px -187px;
 width:16px;
 height:16px;
 } .t_602 {
 background:url('char.png') no-repeat -136px -187px;
 width:16px;
 height:16px;
 } .t_603 {
 background:url('char.png') no-repeat -153px -187px;
 width:16px;
 height:16px;
 } .t_604 {
 background:url('char.png') no-repeat -170px -187px;
 width:16px;
 height:16px;
 } .t_605 {
 background:url('char.png') no-repeat -187px -187px;
 width:16px;
 height:16px;
 } .t_606 {
 background:url('char.png') no-repeat -204px -187px;
 width:16px;
 height:16px;
 } .t_607 {
 background:url('char.png') no-repeat -221px -187px;
 width:16px;
 height:16px;
 } .t_608 {
 background:url('char.png') no-repeat -238px -187px;
 width:16px;
 height:16px;
 } .t_609 {
 background:url('char.png') no-repeat -255px -187px;
 width:16px;
 height:16px;
 } .t_610 {
 background:url('char.png') no-repeat -272px -187px;
 width:16px;
 height:16px;
 } .t_611 {
 background:url('char.png') no-repeat -289px -187px;
 width:16px;
 height:16px;
 } .t_612 {
 background:url('char.png') no-repeat -306px -187px;
 width:16px;
 height:16px;
 } .t_613 {
 background:url('char.png') no-repeat -323px -187px;
 width:16px;
 height:16px;
 } .t_614 {
 background:url('char.png') no-repeat -340px -187px;
 width:16px;
 height:16px;
 } .t_615 {
 background:url('char.png') no-repeat -357px -187px;
 width:16px;
 height:16px;
 } .t_616 {
 background:url('char.png') no-repeat -374px -187px;
 width:16px;
 height:16px;
 } .t_617 {
 background:url('char.png') no-repeat -391px -187px;
 width:16px;
 height:16px;
 } .t_618 {
 background:url('char.png') no-repeat -408px -187px;
 width:16px;
 height:16px;
 } .t_619 {
 background:url('char.png') no-repeat -425px -187px;
 width:16px;
 height:16px;
 } .t_620 {
 background:url('char.png') no-repeat -442px -187px;
 width:16px;
 height:16px;
 } .t_621 {
 background:url('char.png') no-repeat -459px -187px;
 width:16px;
 height:16px;
 } .t_622 {
 background:url('char.png') no-repeat -476px -187px;
 width:16px;
 height:16px;
 } .t_623 {
 background:url('char.png') no-repeat -493px -187px;
 width:16px;
 height:16px;
 } .t_624 {
 background:url('char.png') no-repeat -510px -187px;
 width:16px;
 height:16px;
 } .t_625 {
 background:url('char.png') no-repeat -527px -187px;
 width:16px;
 height:16px;
 } .t_626 {
 background:url('char.png') no-repeat -544px -187px;
 width:16px;
 height:16px;
 } .t_627 {
 background:url('char.png') no-repeat -561px -187px;
 width:16px;
 height:16px;
 } .t_628 {
 background:url('char.png') no-repeat -578px -187px;
 width:16px;
 height:16px;
 } .t_629 {
 background:url('char.png') no-repeat -595px -187px;
 width:16px;
 height:16px;
 } .t_630 {
 background:url('char.png') no-repeat -612px -187px;
 width:16px;
 height:16px;
 } .t_631 {
 background:url('char.png') no-repeat -629px -187px;
 width:16px;
 height:16px;
 } .t_632 {
 background:url('char.png') no-repeat -646px -187px;
 width:16px;
 height:16px;
 } .t_633 {
 background:url('char.png') no-repeat -663px -187px;
 width:16px;
 height:16px;
 } .t_634 {
 background:url('char.png') no-repeat -680px -187px;
 width:16px;
 height:16px;
 } .t_635 {
 background:url('char.png') no-repeat -697px -187px;
 width:16px;
 height:16px;
 } .t_636 {
 background:url('char.png') no-repeat -714px -187px;
 width:16px;
 height:16px;
 } .t_637 {
 background:url('char.png') no-repeat -731px -187px;
 width:16px;
 height:16px;
 } .t_638 {
 background:url('char.png') no-repeat -748px -187px;
 width:16px;
 height:16px;
 } .t_639 {
 background:url('char.png') no-repeat -765px -187px;
 width:16px;
 height:16px;
 } .t_640 {
 background:url('char.png') no-repeat -782px -187px;
 width:16px;
 height:16px;
 } .t_641 {
 background:url('char.png') no-repeat -799px -187px;
 width:16px;
 height:16px;
 } .t_642 {
 background:url('char.png') no-repeat -816px -187px;
 width:16px;
 height:16px;
 } .t_643 {
 background:url('char.png') no-repeat -833px -187px;
 width:16px;
 height:16px;
 } .t_644 {
 background:url('char.png') no-repeat -850px -187px;
 width:16px;
 height:16px;
 } .t_645 {
 background:url('char.png') no-repeat -867px -187px;
 width:16px;
 height:16px;
 } .t_646 {
 background:url('char.png') no-repeat -884px -187px;
 width:16px;
 height:16px;
 } .t_647 {
 background:url('char.png') no-repeat -901px -187px;
 width:16px;
 height:16px;
 }